<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <h2 class="footer-title">{{site.title}}</h2>
          <ul>
            {% assign footermenu = site.data.menus.footer | sort: 'weight'  %}
            {% for item in footermenu %}
            <li class="{% if item.url == page.url %}active{% endif %}">
              {% if item.icon %}
                <a href="{{ item.url | relative_url }}" id="{% if item.id %}{{ item.id }}{% endif %}"><i class="{{ item.icon }}"></i>{{ item.name }}</a>
              {% else %}
                <a href="{{ item.url | relative_url }}" id="{% if item.id %}{{ item.id }}{% endif %}">{{ item.name }}</a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
