<div id="main-menu" class="main-menu">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      {% if item.icon %}
        <a href="{{ item.url | relative_url }}" id="{% if item.id %}{{ item.id }}{% endif %}"><i class="{{ item.icon }}"></i>{{ item.name }}</a>
      {% else %}
        <a href="{{ item.url | relative_url }}" id="{% if item.id %}{{ item.id }}{% endif %}">{{ item.name }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
